<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goreal chat example</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>



<div id="app" class="container">
    <h1> Goreal chat</h1>
    <button class="btn btn-success" @click="connect">Connect</button>
    <input type="text" v-model="name">
    <div class="row">

        <div class="col-md-3 col-sm-4">
            <ul>
                <li v-for="item in users">{{ item.name }} <span>({{ item.status }})</span></li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-8">
            <ul>
                <li  v-for="item in groupMessages"> {{ item.name }} - <span>{{ item.message }}</span> </li>
            </ul>

            <input type="text" v-model="message">
            <button class="btn btn-success" @click="sendGroup">Send</button>
        </div>

    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">

    
    var socket;
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            name: "username",
            users: [
                { name: "berker test"}
            ],
            groupMessages: [
                {name: "berker", message: "deneme 1"},
                {name: "test 1", message: "asdasdasd"},
            ],
            message: null
        },
        methods: {
            sendGroup: function () {
                var messageData = { name: this.name, message: this.message};
                socket.send(JSON.stringify(messageData));
                console.log("message sendd");
                this.message = null;
            },
            connect: function () {
                let self = this;
                socket = new WebSocket(`ws://localhost:2020/ws?name=${this.name}`);
                console.log(socket);

                socket.onopen = function (event) {
                    socket.send("Here's some text that the server is urgently awaiting!");
                };

                socket.onmessage = function (event) {
                    console.log(event.data);
                    var data = JSON.parse(event.data);
                    console.log(data);
                    if (data.users){
                        console.log("users loading...")
                        self.users = data.users;
                    } else if(data.name){
                        self.groupMessages.push(data);
                    }
                }

            }

        }
    })

</script>

</body>
</html>